/* 1025 */

@media (max-width: 1025px) {

    /* header  */
    header {
        padding: 6px 92px;
    }

    /* section 1  */
    .coversection {
        padding-inline: 92px;
    }

    /* section 2 */
    .carddiv {
        flex: 1 1 410px;
    }

    .card3 {
        display: none;
    }

    /* section 3 */
    .section3pics {
        padding-inline: 92px;
    }

    .allpics {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .redroof {
        width: 840px;
    }

    .lakehouse {
        flex-direction: row;
        column-gap: 20px;
        flex: 1 1 410px;
    }

    .lakes {
        width: 100%;
    }

    /* footer  */
    footer {
        padding: 31px 425px;
    }
}