/* 376px */

@media (max-width: 376px) {

    /* header  */
    header {
        padding: 6px 14px;
    }

    .burger {
        display: block;
    }

    nav {
        display: none;
    }

    /* section 1 */
    .coversection {
        padding-inline: 14px;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    /* section 2  */
    .cardsection {
        padding-inline: 14px;
    }

    h3 {
        font-family: "Kanit", sans-serif;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }

    /* section 3  */
    .section3pics {
        padding: 0;
        padding-bottom: 48px;
    }

    .redroof {
        width: 375px;
    }

    .redroofpic {
        object-fit: cover;
        object-position: center;
    }

    .lakehouse {
        flex-wrap: wrap;
    }

    /* footer  */
    footer {
        padding: 31px 100px;
    }
}