/* 835 */

@media (max-width: 835px) {

    /* header  */
    header {
        padding: 6px 67px;
    }

    /* section 1 */
    .coversection {
        padding-inline: 67px;
    }
}

@media (max-width: 677px) {
    header header {
        padding: 6px 14px;
    }

    .burger {
        display: block;
    }

    nav {
        display: none;
    }
}