/* 835 */

@media (max-width: 835px) {

    /* header  */
    header {
        padding: 6px 67px;
    }

    /* section 1 */
    .coversection {
        padding-inline: 67px;
    }

    /* section 2 */
    .cardsection {
        padding-inline: 67px;
    }

    .carddiv {
        flex: 1 1 340px
    }

    /* section 3 */

    .section3pics {
        padding-inline: 67px;
    }

    .redroof {
        width: 700px;
    }

    .lakehouse {
        flex: 1 1 340px;
    }

    
}

@media (max-width: 677px) {

    /* header  */
    header {
        padding: 6px 14px;
    }

    .burger {
        display: block;
    }

    nav {
        display: none;
    }

    .carddiv {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}